<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="base.beforeWeStart"/>
      <class name="offices.officesTest"/>
      <class name="document.documentsTest"/>
      <class name="folder.folderTest"/>
      <class name="meetings.TempMeetings"/> 
      <class name="meetings.meetingsTest"/>
      <class name="task.tasksTest"/> 
        <class name="project.projectsTest"/>
    <class name="templateDoc.templateDocTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

